<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>用户登录中心</title>

<link rel="stylesheet" type="text/css" href="/loginstatic/css/style.css">
	<link rel="stylesheet" type="text/css" href="/loginstatic/css/style2.css">
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
<script type="text/javascript" src="/loginstatic/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/loginstatic/js/vector.js"></script>
<style type="text/css">
	button{
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		outline:0;
		border:1px solid rgba(255,255,255,.4);
		background-color:rgba(255,255,255,.2);
		width:100px;
		height: 38px;
		border-radius:3px;
		padding:8px 15px;
		margin:0 auto 10px;
		display:inline-block;
		text-align: center;
		font-size:15px;
		color: rgba(0,0,0,0.5);
		-webkit-transition-duration:.25s;
		transition-duration:.25s;
		font-weight: bolder;
	}
	button:hover{
		background-color: rgba(255, 255, 255, 0.4)
	}
	button:focus{
		background-color: #8db7d9;
		width:110px;
		color:#333
	}
</style>
</head>
<body>
<div id="container">
	<div id="output">
		<div class="containerT">
			<div id="loginform">
				<form name="loginForm" method="post" th:action= "${formAction}"
					  style="border: 0 solid #6e8a9c; border-radius: 5px;
					  text-shadow:-8px 3px 4px rgba(0,0,0,0.2);
					  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
					<h1 style="font-weight: bolder; color: rgba(0,0,0,0.6); margin-bottom: 20px">用户登录</h1>
					<label>
						<input type="text" name="username" placeholder="用户名"/>
					</label>
					<br>
					<label>
						<input type="password" name="password" placeholder="密码"/>
					</label>
					<div style="margin-bottom: 10px; height: 15px">
						<p th:hidden="${error} eq 'error' ? 'false':'hidden'">
							用户名或密码错误
						</p>
					</div>
					<button type="submit" class="btn_from">登录</button>
					<button type="submit" class="btn_from" style="margin-left: 15px">邮箱登录</button>
					<div style="text-align: left; width: 220px; margin: 0 auto; margin-top: 70px">
						<a style="color: #f1f6fa; cursor: pointer; margin-right: 10px" onclick="registerAccountClick();">普通注册</a>
						<a style="color: #f1f6fa; cursor: pointer" onclick="registerEmailClick();">邮箱注册</a>
					</div>
				</form>
			</div>
			<div id="registerform_account">
				<form name="registerForm" method="post" action= "/login/register"
					  style="border: 0 solid #6e8a9c; border-radius: 5px;
					  text-shadow:-8px 3px 4px rgba(0,0,0,0.2);
					  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
					<h1 style="font-weight: bolder; color: rgba(0,0,0,0.6); margin-bottom: 20px">
						账号注册
					</h1>
					<label>
						<input type="text" name="username" placeholder="用户名"/>
					</label>
					<br>
					<label>
						<input type="password" name="password" placeholder="密码"/>
					</label>
					<br>
					<label>
						<input type="email" name="password" placeholder="账号找回邮箱"/>
					</label>
					<div style="margin-bottom: 10px; height: 15px"></div>
					<button type="submit" class="btn_from" style="width: 210px">注册并登录</button>
					<div style="text-align: left; width: 220px; margin: 0 auto; margin-top: 70px">
						<a style="color: #f1f6fa; cursor: pointer; margin-right: 10px" onclick="registerAccountClick();">普通注册</a>
						<a style="color: #f1f6fa; cursor: pointer" onclick="registerEmailClick();">邮箱注册</a>
					</div>
				</form>
			</div>
			<div id="registerform_email">
				<form name="registerForm" method="post" action= "/login/register"
					  style="border: 0 solid #6e8a9c; border-radius: 5px;
					  text-shadow:-8px 3px 4px rgba(0,0,0,0.2);
					  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
					<h1 style="font-weight: bolder; color: rgba(0,0,0,0.6); margin-bottom: 20px">
						邮箱注册
					</h1>
					<label>
						<input type="text" name="username" placeholder="邮箱"/>
					</label>
					<br>
					<div style="text-align: left; width: 220px; margin: 0 auto; position: relative">
						<img src="/loginstatic/css/验证码.jpg" style="height: 38px; width: 100px">
						<button type="submit" class="btn_from" style="width: 110px; position: absolute; right: 0">获取验证码</button>
					</div>
					<br>
					<label>
						<input type="email" name="password" placeholder="验证码"/>
					</label>
					<div style="margin-bottom: 10px; height: 15px"></div>
					<button type="submit" class="btn_from" style="width: 210px;">获取邮箱验证码</button>
					<button type="submit" class="btn_from" style="width: 210px; display: inherit">注册并登录</button>
					<div style="text-align: left; width: 220px; margin: 0 auto; margin-top: 70px">
						<a style="color: #f1f6fa; cursor: pointer; margin-right: 10px" onclick="registerAccountClick();">普通注册</a>
						<a style="color: #f1f6fa; cursor: pointer" onclick="registerEmailClick();">邮箱注册</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(function(){
        Victor("container", "output");   //登陆背景函数
        $("#entry_name").focus();
		$("#registerform_account").hide();
		$("#registerform_email").hide();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
		registerAccountClick = function () {
			console.log($("#loginform"))
			$("#loginform").hide();
			$("#registerform_email").hide();
			$("#registerform_account").show();
		};
		registerEmailClick = function () {
			console.log($("#loginform"))
			$("#loginform").hide();
			$("#registerform_account").hide();
			$("#registerform_email").show();
		};
    });
</script>
</body>
</html>
