<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlz.blog.server.article.mapper.BlogRecommendMapper">

    <insert id="insertList">
        INSERT INTO blog_recommend
            (id, blog_id, recommend_type,image_url, creator, created_time, last_modifier, last_modified_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},#{item.blogId},#{item.recommendType},#{item.imageUrl},#{item.creator},
            #{item.createdTime},#{item.lastModifier},#{item.lastModifiedTime}
            )
        </foreach>
    </insert>
</mapper>
